name: Build Project for PR
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Шаг 1: Клонируем код
      - name: Checkout code
        uses: actions/checkout@v4
      # Шаг 2: Устанавливаем JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
      # Шаг 3: Сборка Maven-проекта
      - name: Build with Maven
        run: mvn clean install
